.addPanel{
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    //text-align: center;
    border-radius: 10px;
    padding: 2em ;
    margin:1em;

    //backdrop-filter: blur(20px);
    

    h2{
        margin:1em;
        text-align: center; 
        margin:0;

        font-size: 16px;
        text-shadow:1px 0 3px rgba(0, 0, 0, 0.25);

        margin-bottom: 1em;
    }
    .inputZone{
        display: flex;
        margin:0.5em;
        .prop{
            background-color: #2564CF;
            background-color: #1FE28C;

            padding: 0.35em;
            //border-radius: 5px 0 0 5px;
            border-radius: 5px;
            margin-right: 0.5em;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        }
        input, select{
            padding: 1em 1.5em;
            outline: none;
            cursor:pointer;
            transition: 0.3s;
            border:none;
            //border-radius: 0 5px 5px 0;
            border-radius: 5px;
            width: 100%;
            font-size: 16px;
    
            &:focus{
                background-color: #2564CF;
                background-color: #1FE28C;

                color: #fff;
                &::placeholder{
                    color:#d6d5d5;
                }
            }
            
            option{
                color: #fff;
            }
            
        }
        .error{
            margin: 0.5em 0 0 0.3em;
        }
    }
    

    .activeButton{
        background-color: #2564CF;
        background-color: #1FE28C;

        padding: 1em 1.5em;
        border-radius: 5px;
        border:none;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        margin:1em;
        cursor:pointer;

        transition: 0.3s;
        &:hover{
            scale: 1.1;
        }

        &:active{
            scale: 0.9;
        }
    }
    .disableBytton{
        background-color: #ffffff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 1em 1.5em;
        border-radius: 5px;
        border:none;
        margin:1em;

    }

}